<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>404</title>
</head>
<body id="page404">
    <header>
        <a href="/"><img src="logo.svg" alt=""></a>
        <img src="menu.svg" alt="" id="menu">
        <nav>
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>    
    </header>
    <main>
        <img src="Dragon.svg" alt="">
    </main>
    <footer>
        <div class="bgblue">
            <section id="form">
                <div>
                    <h2>Intersted to woek with our team?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <a href="" class="btn">Let’s Talk</a>
            </section>
            <section id="list">
                <article>
                    <h3><img src="logo_footer.png" alt=""></h3>
                    <ul>
                        <li><span>A.</span> Lorem ipsum dolor sit amet,<br><span> </span> consectetur adipisicing elit.</li>
                        <li><span>T.</span> +62-812-7313-4321</li>
                        <li><span>E.</span> hello.afrian@gmail.com</li>
                    </ul>
                </article>
                <article>
                    <h3>About US</h3>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">What We Do</a></li>
                        <li><a href="">Project</a></li>
                        <li><a href="">How It Work With Us</a></li>
                    </ul>
                </article>
                <article>
                    <h3>Follow US</h3>
                    <ul>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">LinkedIn</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </article>
            </section>
            <p>2019 © Afrianska. All rights reserved.</p>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>