<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Afrianska - blog</title>
</head>
<body id="blog">
    <header>
        <a href="/"><img src="logo.svg" alt=""></a>
        <img src="menu.svg" alt="" id="menu">
        <nav>
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>    
    </header>
    <main>
        <section id="headline">
            <h1>Blog Afrianska</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </section>
        <section id="search">
            <img src="search.svg" alt="">
            <input type="text" name="" id="" placeholder="Search Article">
        </section>
        <section id="popular">
            <h2 class="bloghl">POPULAR</h2>
            <article class="top">
                <img src="blogP1.png" alt="">
                <h3>Feugiat sodales at nullam tellus.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi posuere nibh tempor fringilla porta pellentesque ipsum.
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blogP2.png" alt="">
                <h3>Porta proin tellus sed pulvinar odio eu pulvinar.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blogP3.png" alt="">
                <h3>Non quam tortor, proin eu egestas scelerisque purus.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blogP4.png" alt="">
                <h3>Amet amet sed pharetra risus sit eget interdum.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <a href="#" class="more">See All Popular Article</a>
        </section>
        <section id="all">
            <h2 class="bloghl">ALL ARTICLE</h2>
            <article>
                <img src="blog1.png" alt="">
                <h3>Massa eu in laoreet enim augue vulputate nunc.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blog2.png" alt="">
                <h3>Feugiat a euismod arcu feugiat posuere morbi.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blog3.png" alt="">
                <h3>Sociis purus pellentesque faucibus vitae et felis.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blog4.png" alt="">
                <h3>Cursus feugiat mi pellentesque mauris sed eu.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <article>
                <img src="blog5.png" alt="">
                <h3>A morbi arcu curabitur etiam fringilla augue.</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus quisque magna in nisl nibh bibendum ipsum, elit duis. Donec.
                </p>
                <div>
                    <div>
                        <h4>Samatha Leuthex</h4>
                        <p>May 5, 3 min read</p>
                    </div>
                    <img src="bookmark.svg" alt=""><img src="share.svg" alt="">
                </div>
            </article>
            <div>
                <p><img src="arrow.svg" alt="">New Post</p>
                <p>Old Post <img src="arrow.svg" alt=""></p>
            </div>
        </section>
    </main>
    <footer>
        <div class="bgblue">
            <section id="form">
                <div>
                    <h2>Intersted to woek with our team?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <a href="" class="btn">Let’s Talk</a>
            </section>
            <section id="list">
                <article>
                    <h3><img src="logo_footer.png" alt=""></h3>
                    <ul>
                        <li><span>A.</span> Lorem ipsum dolor sit amet,<br><span> </span> consectetur adipisicing elit.</li>
                        <li><span>T.</span> +62-812-7313-4321</li>
                        <li><span>E.</span> hello.afrian@gmail.com</li>
                    </ul>
                </article>
                <article>
                    <h3>About US</h3>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">What We Do</a></li>
                        <li><a href="">Project</a></li>
                        <li><a href="">How It Work With Us</a></li>
                    </ul>
                </article>
                <article>
                    <h3>Follow US</h3>
                    <ul>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">LinkedIn</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </article>
            </section>
            <p>2019 © Afrianska. All rights reserved.</p>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>