<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Afrianska - Contact</title>
</head>
<body id="contact">
    <header>
        <a href="/"><img src="logo.svg" alt=""></a>
        <img src="menu.svg" alt="" id="menu">
        <nav>
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>    
    </header>
    <main>
        <section id="headline">
            <h1>Contact Us</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            </p>
        </section>
        <section id="main">
            <article id="txt">
                <img src="contactimg.svg" alt="">
                <h3>ADDRESS</h3>
                <p>
                    Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
                </p>
                <h3>PHONE</h3>
                <ul>
                    <li><img src="phone.svg" alt=""> +62-812-7313-4321</li>
                    <li><img src="phone.svg" alt=""> +62-817-000-1234</li>
                </ul>
                <h3>ONLINE SERVICE</h3>
                <ul>
                    <li><img src="web.svg" alt=""> www.afrianska.com</li>
                    <li><img src="mail.svg" alt=""> hello.afrian@gmail.com</li>
                </ul>
            </article>
            <article id="form">
                <h3>SEND US MESSAGE</h3>
                <form action="">
                    <label for="">Full Name</label>
                    <input type="text" name="" id="" placeholder="Your Name">
                    <label for="">Email</label>
                    <input type="email" name="" id="" placeholder="Your Email">
                    <label for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                    <input type="submit" value="SUBMIT" class="btn">
                </form>
            </article>
        </section>
        <section id="map">
            <img src="map.png" alt="">
        </section>
    </main>
    <footer>
        <div class="bgblue">
            <section id="form">
                <div>
                    <h2>Intersted to woek with our team?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                    </p>
                </div>
                <a href="" class="btn">Let’s Talk</a>
            </section>
            <section id="list">
                <article>
                    <h3><img src="logo_footer.png" alt=""></h3>
                    <ul>
                        <li><span>A.</span> Lorem ipsum dolor sit amet,<br><span> </span> consectetur adipisicing elit.</li>
                        <li><span>T.</span> +62-812-7313-4321</li>
                        <li><span>E.</span> hello.afrian@gmail.com</li>
                    </ul>
                </article>
                <article>
                    <h3>About US</h3>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">What We Do</a></li>
                        <li><a href="">Project</a></li>
                        <li><a href="">How It Work With Us</a></li>
                    </ul>
                </article>
                <article>
                    <h3>Follow US</h3>
                    <ul>
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Facebook</a></li>
                        <li><a href="">LinkedIn</a></li>
                        <li><a href="">Youtube</a></li>
                    </ul>
                </article>
            </section>
            <p>2019 © Afrianska. All rights reserved.</p>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>